.contact-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.content-container {
    padding-top: 12px;
}
.contact-card {
    background-color: #fce9f3;
    padding: 2rem;
    border-radius: 8px;
    border: 3px solid black;
    box-shadow: 4px 5px 0px black;
    position: relative;
    min-width: 300px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;          
    padding: 1rem;       
}

.contact-header h3 {
    font-size: 18px;
    color: black;
    
    
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    cursor: pointer;
    width: 32px;         
    height: 32px;        
    padding: 0px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}


.close-btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.close-icon {
    width: 100%;
    height: 100%;
    display: block;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;         
    margin-top: 1.5rem;
}

.contact-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: #fff;
    transition: all 0.3s ease;
}

.contact-option:hover {
    transform: translate(2px, 2px);
    box-shadow: none;
    background-color: #fc64ab;
}

