.footer {
  background-color: none;
  color: black;
  padding: 0rem 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.social-link {
  color: #fc64ab;
  text-decoration: none;
  font-size: 1.9rem;
}

.social-link:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.social-link i {
  width: 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 0;
  }
  
  .footer-content {
    padding: 0 1rem;
  }
  
  .footer-social {
    gap: 1.5rem;
  }
}